@use "../../ds-tokens.scss" as *;

.Input {
  border-radius: 10px;
  box-shadow: 0 0 0 1px $inputBorder inset;
  
  &.large {
    border-radius: 50px;
    > input {
      padding: 30px;
      width: 100%;
    }
  }
  > input {
    padding: 10px;
    background: none;
    border:none;
    outline: none;
  }
  &:not(:disabled){
    &:hover { box-shadow: 0 0 0 1px $inputBorderHover inset }
    &:focus-within,
    &.focus { box-shadow: 0 0 0 2px $ocean inset }
    &.hasError { box-shadow: 0 0 0 1px $error inset }
  }
  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }
}