@import "../../ds-tokens.scss";

.Input {
  border-radius: 10px;
  box-shadow: 0 0 0 1px $inputBorder inset;
  padding: 10px;
  > input {
    background: none;
    border:none;
    outline: none;
    padding: 0;
  }
  &:not(:disabled){
    &:hover { box-shadow: 0 0 0 1px $inputBorderHover inset }
    &:focus-within,
    &.focus { box-shadow: 0 0 0 2px $ocean inset }
    &.hasError { box-shadow: 0 0 0 1px $error inset }
  }
  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }
}