@use "../../ds-tokens.scss" as *;

.Progress{
  display: flex;
  align-items: center;
  gap: 10px;
  > article {
    background: $track;
    height: 5px;
    border-radius: 10px;
    width: 100%;
    > div {
      height: 100%;
      background: $lime;
      border-radius: 10px;
      transition: .4s $ease;
    }
  }
}