@import '../../ds-tokens.scss';

.Card {
    border: none;
    background: none;
    border-radius: $radius-large;
    padding: 16px;
    box-shadow: $shadow-small;
    transition: box-shadow 0.2s ease;
    
    &.btn { 
        cursor: pointer;
        
        &:hover {
            box-shadow: 0 0 0 1px $inputBorderHover inset;
        }
        
        &:focus,
        &:focus-visible {
            box-shadow: 0 0 0 2px $ocean inset;
            outline: none;
        }
    }
    
    &[data-elevation="medium"] {
        box-shadow: $shadow-medium;
    }
    &[data-elevation="large"] {
        box-shadow: $shadow-large;
    }
    &[data-elevation="none"] {
        box-shadow: $shadow-flat;
    }
}