@use '../../ds-tokens.scss' as *;

.Card {
    border: none;
    background: none;
    border-radius: $radius-large;
    padding: 16px;
    box-shadow: $shadow-small;
    transition: box-shadow 0.2s ease;
    
    &.btn { 
        cursor: pointer;
        position: relative;
        &:hover {
            box-shadow: 0 0 0 1px $inputBorderHover inset;
        }
        
        &.selected {
            box-shadow: 0 0 0 1px $ocean inset;
            background: $lightSky;
            outline: none;
        }
        > svg {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
    
    &[data-elevation="medium"] {
        box-shadow: $shadow-medium;
    }
    &[data-elevation="large"] {
        box-shadow: $shadow-large;
    }
    &[data-elevation="none"] {
        box-shadow: $shadow-flat;
    }
}