$sky:#E6EFFC;
$skyHover:#e2ebfb;
$skyActive:#dde7f9;
$ocean:#8FCBF7;
$marine:#007AFF;
$lime:#6FFFC8;
$fade:#B1B8C4;
$black:#181D27;
$track:#f3f3f3;

$inputBorder:#dcdee5;
$inputBorderHover:#bfc3d1;
$error:#f15f5f;

$ease: cubic-bezier(0.36, 0.01, 0, 1);
